 <ion-view title="Accounts">
  <ion-content>
    <ion-refresher on-refresh="doRefreshAccounts()"
                     pulling-text="Pull to refresh..."
                     refreshing-text="Refreshing!"
                     refreshing-icon="ion-loading-c">
    </ion-refresher>
     <ion-list>

      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="query" />
      </label>
      
      <ion-item class="item mti-item"
        collection-repeat="account in accounts | filter:query" type="item-text-wrap"
        href="#/tab/account/{{account.Id}}"
        collection-item-width="'100%'"
        collection-item-height="getItemHeight(tableRec, $index)"
        ng-style="{height: getItemHeight(tableRec, $index)}"
        >
        <h3>{{account.Name}}</h3>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>